.checkout{
    width: 414px;
    height: 92px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}
.selecionado{
    border: 5px solid #32B72F ;
}
.fecharpedido{
    background-color: #32B72F;
    color:white;
}

.escondido{
    display: none;
}





.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.fechar-pedido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 377px;
    height: 353px;
    background-color: #50D074; 
    border-radius: 9px;   
    z-index: 1001;
    
}

.tudo-certo{
    display:flex;
    align-items: center;
    justify-content: center ;
    width: 329px;
    height: 52px;
    border-radius: 100px;
    background-color: #FFFFFF;
    color: #50D074;
    font-family:  'Roboto';
    font-size: 22px;
    font-weight: 700;
}

.Cancelar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #50D074;
    width: 333px;
    height: 52px;
    border: none ;
}