.main-title{
    font-family: 'Righteous';
    color: white;
    font-size: 44px;
    font-weight: 400;
    margin: 0;
    margin-left: 20px;
    margin-top: 0px;
    padding: 0;
}

.main-title.-topic{
    color: #333333;
    font-size: 26px;
    margin-top: 10px;
}
.sub-title{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.sub-title.-header{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin: 0;
    margin-left: 20px;
    margin-bottom: 23px;
    padding: 0;
    line-height: 1px;
}

.sub-title.-foodName{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    color: #333333;
}

.sub-title.-foodDescription{
    font-size: 15px;
    font-weight: 300;
    line-height: 17.58px;
    color: #A6A6A6;
    margin-top: 10px;
    max-width: 172px;


}

.sub-title.-price{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-top:05px;
}
.sub-title.-drink{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-top: 15px;
}
.sub-title.-doce{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-top: 15px;
}
.sub-title.-buttom{
    width: 364px;
    height: 61px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #CBCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    line-height: 23.44px;
    text-align: center;
  
}